.predominancia{
    border-radius: 1rem;
    padding-left: 2.0rem;
}
.extensao{
    border-left: 5px solid #22CBE9;
}
.ensino{
    border-left: 5px solid #F93248;
}
.pesquisa{
    border-left: 5px solid #FF9F3B;
}
.chart-icon{
    margin-top: -10rem;
}
.chart-desc{
    text-align: center;
    color: #555;
}
.ext{
    color: #22CBE9;
}
.ens{
    color: #F93248;
}
.pes{
    color: #FF9F3B;
}
#charts{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#test{
    fill: #FF9F3B;
    color: #F93248;
    background: #555;
}